body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

header {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.header-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.contact, .portfolio, .resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #34495e;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .contact, .portfolio, .resume {
        padding: 10px;
    }
}
